<%- include("header") -%>

<div class="text-center center-div" id="login">
  <div class="container w-25 border py-5">
    <div class="title pb-5">
      <h2 class="fw-2"><%= title%></h2>
      <span>Log in for the existing user</span>
    </div>
    <form action="#">
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Example@mail.com" name="email" />
        <small class="form-text text-muted text-left">Register Email Address</small>
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Strong Password" />
      </div>
      <button type="submit" class="btn btn-success rounded-pill">Submit</button>
    </form>
  </div>
</div>

<%- include("footer") -%>
